@media (max-width: 991px) {
    .sidebar {
        background-color: rgba(255, 255, 255, 0.8);
        backdrop-filter: blur(10px);
    }
}
.c-item {
    height: 40rem;
}
.c-img img {
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
}
.carousel .carousel-inner {
    aspect-ratio: 16/8;
}
.vid {
    width: 500px;
}