/* sidebar in navigation */
@media (max-width: 991px) {
    .sidebar {
        background-color: rgba(255, 255, 255, 0.8);
        backdrop-filter: blur(10px);
    }
}

/* SetColor */
:root {
    --colBlack: #0d0d0d;
    --colDarkGray: #3d535f;
    --colGray: #eff0f3;
    --colWhite: #fffffe;
    --colOrange: #ff8e3c;
    --colRed: #d9376e;
}

/* Announcement Page */
.announcement.page .small-title {
    background-color: var(--colGray);
}

.announcement.page .small-body {
    background-color: var(--colGray);
}

.image-layout {
    margin: 30px;
}

.image-layout .row{
	width: 100%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.image-layout .image{
	background: rgba(255,255,255,0.2);
	position: relative;
	flex: 1;
	max-width: 460px;
	height: 300px;
	margin: 20px;
	overflow: hidden;
}

.image-layout .image img{
	opacity: 1;
	position: relative;
	vertical-align: top;
	transition: 0.6s;
	transition-property: opacity;
    width: 460px;
}

.image-layout .image:hover img{
	opacity: 0.3;
}

.image-layout .image .details{
	z-index: 1;
	position: absolute;
	top: 0;
	right: 0;
	color: var(--colBlack);
	width: 100%;
	height: 100%;
}

.image-layout .image .details h2{
    background: rgba(255, 255, 255, 0.8);
	text-align: center;
	font-size: 30px;
	text-transform: uppercase;
	font-weight: 300;
	margin-top: 70px;
	transition: 0.4s;
	transition-property: transform;
}

.image-layout .image .details h2 span{
	font-weight: 900;
}

.image-layout .image:hover .details h2{
	transform: translateY(-30px);
}

.image-layout .image .details p{
	margin: 30px 30px 0 30px;
	font-size: 18px;
	font-weight: 600;
	text-align: center;
	opacity: 0;
	transition: 0.6s;
	transition-property: opacity, transform;
}

.image-layout .image:hover .details p{
	opacity: 1;
	transform: translateY(-40px);
}

.image-layout .more{
	position: absolute;
	background: rgba(255, 255, 255, 0.8);
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px;
	bottom: -60px;
	transition: 0.6s;
	transition-property: bottom;
}

.image-layout .image:hover .more{
	bottom: 0;
}

.image-layout .more .read-more{
	color: #000;
	text-decoration: none;
	font-size: 20px;
	font-weight: 500;
	text-transform: uppercase;
}

.image-layout .more .read-more span{
	font-weight: 900;
}

.image-layout .more .icon-links i{
	color: #000;
	font-size: 20px;
}

.image-layout .more .icon-links a:not(:last-child) i{
	margin-right: 20px;
}

/* .image-layout */

/* Reponsize Announcement Page */
@media (max-width: 1080px) {
    .image-layout .image {
        flex: 100%;
        max-width: 480px;
    }
}

@media (max-width: 400px) {
    .image-layout .image .details p {
        font-size: 16px;
    }

    .image-layout .more,
    .image-layout .more .icon-links a svg {
        font-size: 18px;
    }
}

/* Lecture Page */
.announcement.page .title,
.lecture.page .title {
    margin-top: 100px;
}

.lecture.page .card-img-top {
    height: 150px;
    width: 305px;
}

.lecture.page .para {
    font-size: 14px;
}

/* Paragrah for introduce lectures */
.para_introduce_lecture {
    font-size: 16px;
}

/* Mainscreen */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    overflow: hidden;
    height: 100vh
}

.mainscreen {
    width: 100%;
    min-height: 100vh;
    background-color: var(--colWhite);
}

.wrapper {
    display: flex;
    width: 100%;
    height: calc(100vh);
    justify-content: center;
    align-items: center;
    padding: 0 10%;
    overflow: hidden;
}

.wrapper::before {
    position: absolute;
    content: '';
    height: 600px;
    width: 600px;
    border-radius: 50%;
    left: -12%;
    top: 40%;
    background: linear-gradient(45deg, var(--colRed), var(--colOrange));
    animation: object1 6s linear infinite;
}

.wrapper::after {
    position: absolute;
    content: '';
    height: 150px;
    width: 150px;
    border-radius: 50%;
    left: 35%;
    top: 12%;
    background: linear-gradient(45deg, var(--colRed), var(--colOrange));
    animation: object2 6s linear infinite;
}

@keyframes object1 {
    50% {
        left: -13%;
        top: 41%;
    }
}

@keyframes object2 {
    50% {
        left: 35%;
        top: 10%;
    }
}

.colums {
    width: 50%;
}

.colums0 {
    width: 60%;
    z-index: 5;
}

.topline {
    display: block;
    position: relative;
    font-size: 35px;
    letter-spacing: 5px;
    color: var(--colDarkGray);
}

.topline::after {
    position: absolute;
    content: '';
    height: 4px;
    width: 45px;
    bottom: 10px;
    background-color: var(--colOrange);
}

.mainscreen h1 {
    display: block;
    font-size: 3em;
    font-weight: 900;
    color: var(--colDarkGray);
    letter-spacing: 2px;
}

.multiText {
    color: var(--colOrange);
    text-transform: capitalize;
}

.mainscreen p {
    display: block;
    width: 90%;
    font-size: 1.2em;
    color: var(--colDarkGray);
}

.btns {
    width: 100%;
    position: relative;
    left: 150px;
}

.btns button {
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 25px;
    font-weight: 400;
    color: var(--colWhite);
    background-color: var(--colDarkGray);
    padding: 8px 14px;
    margin: 20px 5px;
    letter-spacing: 2px;
    text-transform: capitalize;
    box-shadow: 0 15px 10px rgba(0, 0, 0, 0.4);
}

.btns button:hover {
    background-color: var(--colOrange);
}

.imgbox {
    position: relative;
    width: 100%;
    height: 100%;
}

.imgbox img {
    position: relative;
    height: 100%;
    width: calc(130% - 80px);
    top: -100px;
    right: 50px;
    animation: animateUser 4s linear infinite;
}

@keyframes animateUser {
    50% {
        right: 30px;
        top: -90px;
    }
}

.imgbox #splash {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-25deg);
    width: 160%;
    filter: saturate(200%);
    animation: animate 4s linear infinite;
}

@keyframes animate {
    50% {
        top: 49%;
        left: 51%;
        width: 155%;
    }
}

/* Contact Page */
.contact_form {
    background-color: var(--colOrange);
    
}

.color {
    display: flex;
    width: 100%;
    height: calc(100vh);
    justify-content: center;
    align-items: top;
    padding: 2rem 0px 0px 0px;
    overflow: hidden;
    background-color: var(--colWhite);
}

.con {
    background-color: var(--colGray);
    height: max-content;
}

.con1, .con2 {
    background-color: var(--colWhite);
}

.con1 {
    margin: 2rem;
}

.con2 {
    margin: 2rem;
}
